@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&display=swap');
body{
    background-image: url("ebi.png");
    image-rendering: pixelated;   
    font-family: "Kiwi Maru", serif;
    margin:2px;
}
table{
    border-collapse: collapse;
}
th{
    border: ridge  4px rgb(88, 55, 55);
    width: 25vw;
    margin: 0;
    padding: 0;
    font-family: "Hachi Maru Pop", cursive;
}
th h1{
    font-size: 4.8vw;
    background: linear-gradient(to right bottom, rgb(255, 0, 128),rgb(128, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    margin: 0;
    user-select: none;
}
td{
    background-color: #f7c1b9b0;
    border: ridge  3px rgb(141, 70, 104);
    color: rgb(64, 8, 32);
    width: 25vw;
    margin: 0;   
    padding: 0;
}

.buttons td{
    font-size: 2vw;
    user-select: none;
}
.buttons td:hover{
    background-color:  #f4b3a9b0;

}
.buttons td:active{
    background-color:  #eea79cb0;   
}